body {
  background-color: FloralWhite;
}

.heading {
  color: white;
  background-color: #6699ff;
  text-align: center;
  padding: 4px;
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  border: 2px solid black;
}

table {
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
  font-family: monospace;
  text-align: justify;
  border-radius: 10px;
}

thead {
  background-color: ;
  text-align: center;
  font-size: 20px;
  color: black;
}
td {
  border-top: 1px solid black;
  padding: 5px;
  background-color: #ffffcc;
}

.td_property {
  text-align: left;
  font-weight: bolder;
}

.td_value {
  text-align: left;
  color: red;
}

.td_example {
  text-align: left;
  font-weight: normal;
}

.td_notes {
  text-align: left;
  text-align: justify;
  color: DimGray;
}
